@import "../../../styles.scss";

.instruction {
  font-family: $custom-font-looped;
  font-weight: 400;
  line-height: 26px;
  color: #1c1b1f;

  &--bold {
    font-weight: 600;
  }

  &__remark {
    color: #d32f06;
  }
}

.editorRemark {
  font-family: $custom-font-looped;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #d32f06;
}
