@import "../../../styles.scss";

.display {
  font-family: $custom-font-looped;
  font-weight: 400;
  font-size: 14;
  line-height: 23px;
  white-space: pre-wrap;
  max-height: 280px;
  overflow-y: scroll;
  border-bottom: 0.5px solid rgba(192, 195, 203, 0.5);
  padding-bottom: 40px;
}
