@import "../../styles.scss";

.container {
  padding-top: 14px;
  padding-left: 80px;
  padding-right: 173px;
  display: flex;
  padding-bottom: 135px;
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: sticky;
  top: 60px;

  &__back {
    display: flex;
    gap: 8px;
    padding: 10px 0;
    align-items: center;
    cursor: pointer;

    &__text {
      font-family: $custom-font;
      font-weight: 600;
      font-size: 14px;
      line-height: 23px;
    }

    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}

.content {
  width: 100%;
  position: relative;
}

.header {
  font-family: $custom-font;
  font-weight: 700;
  font-size: 64px;
  line-height: 106px;
  color: #1c1b1f;
}

.topic {
  &Container {
    display: flex;
    justify-content: space-between;
  }

  font-family: $custom-font;
  font-weight: 500;
  font-size: 44px;
  line-height: 56px;
  color: #1c1b1f;
}

.assessment {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    gap: 6px;
  }

  &__header {
    font-family: $custom-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: #1c1b1f;
  }
}

.commonRow {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    gap: 10px;
  }

  &__header {
    font-family: $custom-font;
    font-weight: 600;
    font-size: 32px;
    line-height: 53px;
    color: #000;
  }
}

.hr {
  &--dashed {
    border-top: 1px dashed rgba(0, 0, 0, 0.36);
  }
}

.pdl {
  &-27 {
    padding-left: 27px;
  }
  &-46 {
    padding-left: 46px;
  }
}

.mgt {
  &-17 {
    margin-top: 17px;
  }
  &-22 {
    margin-top: 22px;
  }
  &-30 {
    margin-top: 30px;
  }
  &-34 {
    margin-top: 34px;
  }
  &-44 {
    margin-top: 44px;
  }
  &-54 {
    margin-top: 54px;
  }
  &-62 {
    margin-top: 62px;
  }
  &-67 {
    margin-top: 67px;
  }
  &-76 {
    margin-top: 76px;
  }
  &-81 {
    margin-top: 81px;
  }
}
