<div class="container mgt-54">
  <nav class="sideNav">
    <div class="sideNav__back" (click)="onBackToDashboardPage()">
      <img
        src="/assets/arrow_back.svg"
        alt="arrow back"
        class="sideNav__back__icon"
      />
      <p class="sideNav__back__text">Back</p>
    </div>
  </nav>

  <section class="content mgt-30 pdl-46">
    <h1 class="header pdl-27">Admin IR</h1>
    <div class="topicContainer pdl-27">
      <div>
        <h2 class="topic">Forem ipsum dolor sit amet,</h2>
        <h2 class="topic">หัวข้อภาษาไทย</h2>
      </div>
    </div>

    <form [formGroup]="form()">
      <!-- Admin assessment Score -->
      <div class="mgt-81">
        <div class="assessment">
          <div class="assessment__left">
            <h3 class="assessment__header">Admin assessment Score</h3>
            <app-com-icon-tooltip
              [hasTooltip]="true"
              tooltipText="Admin assessment Score"
            ></app-com-icon-tooltip>
          </div>
          <app-com-save-button
            (click)="onSave('assessmentScore')"
          ></app-com-save-button>
        </div>

        @if (!isProduction) {
        <button style="padding: 10px" (click)="onPatchScores()">
          Patch Value
        </button>
        }

        <div class="mgt-17">
          <app-com-score-table-admin
            [shortNames]="topicShortList()"
            [criteria]="criteriaList()"
            [data]="assessmentScoreData()"
            [editMode]="true"
            [formArray]="getAssessmentScoreFormArray()"
          ></app-com-score-table-admin>
        </div>
      </div>

      <!-- Proposed activities -->
      <div class="hr--dashed mgt-76"></div>
      <div class="mgt-44">
        <div class="commonRow">
          <div class="commonRow__left">
            <h3 class="commonRow__header">Proposed activities</h3>
            <img src="/assets/event_note_blue.svg" alt="note icon" />
          </div>
          <app-com-save-button
            (click)="onSave('proposedActivity')"
          ></app-com-save-button>
        </div>
        <div class="mgt-34">
          <app-com-proposed-activities
            [plans]="plans()"
            [editMode]="true"
            [formArray]="getProposedActivitiesFormArray()"
          >
          </app-com-proposed-activities>
        </div>
      </div>

      <!-- Plan notes -->
      <div class="hr--dashed mgt-67"></div>
      <div class="mgt-44">
        <div class="commonRow">
          <div class="commonRow__left">
            <h3 class="commonRow__header">Note of Plan</h3>
            <img src="/assets/speaker_notes.svg" alt="note icon" />
          </div>
          <app-com-save-button
            (click)="onSave('planNote')"
          ></app-com-save-button>
        </div>
        <div class="mgt-22">
          <app-com-plan-note
            [plans]="plans()"
            [editMode]="true"
            [formArray]="getPlanNoteFormArray()"
          >
          </app-com-plan-note>
        </div>
      </div>

      <!-- Admin note -->
      <div class="hr--dashed mgt-76"></div>
      <div class="mgt-62">
        <div class="commonRow">
          <div class="commonRow__left">
            <h3 class="commonRow__header">Notes of Admin</h3>
            <img src="/assets/speaker_notes_red.svg" alt="note icon red" />
          </div>
          <app-com-save-button
            (click)="onSave('adminNote')"
          ></app-com-save-button>
        </div>
        <div class="mgt-22">
          <app-com-admin-note
            [editMode]="true"
            [control]="getAdminNoteFormControl()"
          ></app-com-admin-note>
        </div>
      </div>

      <div class="saveAndReturn mgt-93">
        <app-com-save-and-return-button
          (click)="onSaveAndReturn()"
        ></app-com-save-and-return-button>
      </div>
    </form>
  </section>
</div>
