@import "../../../styles.scss";

.backToTop {
  display: flex;
  width: 80px;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  cursor: pointer;

  &__button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #2d3494;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-family: $custom-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #2d3494;
  }
}
