<button class="button">
  บันทึกและกลับ
  <svg
    width="22"
    height="22"
    viewBox="0 0 22 22"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <mask
      id="mask0_403_2308"
      style="mask-type: alpha"
      maskUnits="userSpaceOnUse"
      x="0"
      y="0"
      width="22"
      height="22"
    >
      <rect width="22" height="22" fill="white" />
    </mask>
    <g mask="url(#mask0_403_2308)">
      <path
        d="M8.91458 15.8812L4.46875 11.4582L5.6375 10.2666L8.91458 13.5437L16.3625 6.11865L17.5312 7.2874L8.91458 15.8812Z"
        fill="white"
      />
    </g>
  </svg>
</button>
