<button class="button">
  บันทึก
  <svg
    width="22"
    height="22"
    viewBox="0 0 22 22"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="button__icon"
  >
    <mask
      id="mask0_403_1383"
      style="mask-type: alpha"
      maskUnits="userSpaceOnUse"
      x="0"
      y="0"
      width="22"
      height="22"
    >
      <rect width="22" height="22" fill="#D9D9D9" />
    </mask>
    <g mask="url(#mask0_403_1383)">
      <path
        d="M8.91458 15.8812L4.46875 11.4583L5.6375 10.2667L8.91458 13.5437L16.3625 6.11874L17.5312 7.28749L8.91458 15.8812Z"
        fill="#ED7E24"
      />
    </g>
  </svg>
</button>
