<div class="container" [style]="{ maxHeight: maxHeight() }">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores ipsum
  natus nam ab exercitationem totam nostrum, aspernatur quisquam, est atque
  voluptatibus aliquam minus amet? Beatae distinctio eveniet necessitatibus
  modi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolores
  ipsum natus nam ab exercitationem totam nostrum, aspernatur quisquam, est
  atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Omnis dolores ipsum natus nam ab exercitationem totam nostrum, aspernatur
  quisquam, est atque voluptatibus aliquam minus amet? Beatae distinctio eveniet
  necessitatibus modi.
</div>
