@import "../../styles.scss";

.login {
  width: 272px;
  margin: auto;

  &__header {
    text-align: left;
    font-family: $custom-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;
    color: #000;
  }

  &__label {
    font-family: $custom-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #000;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.mgt {
  &-10 {
    margin-top: 10px;
  }
  &-24 {
    margin-top: 24px;
  }
  &-87 {
    margin-top: 87px;
  }
}
