<div class="login mgt-87">
  <h1 class="login__header">เข้าสู่ระบบเพื่อใช้งาน</h1>

  <form [formGroup]="form()" (ngSubmit)="onSubmit()" class="form mgt-10">
    <div>
      <div class="login__item">
        <label for="username" class="login__label">Username</label>
        <app-com-input-text
          id="username"
          [control]="getControl('username')"
          placeholder="Enter Username"
        ></app-com-input-text>
      </div>
      <div class="login__item mgt-10">
        <label for="password" class="login__label">Password</label>
        <app-com-input-text
          id="password"
          [type]="passwordType()"
          [control]="getControl('password')"
          [isPassword]="true"
          placeholder="Enter Password"
          (newPasswordType)="onPasswordTypeChange($event)"
        ></app-com-input-text>
      </div>
    </div>
    <button style="padding: 20px" class="mgt-24">เข้าสู่ระบบ</button>
  </form>
</div>
