@import "../../../styles.scss";

.container {
  position: relative;
}

.passwordIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  top: calc(50% - 12px);
  cursor: pointer;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.36);
  height: 42px;
  border-radius: 42px;
  padding: 8px 16px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  font-family: $custom-font;
  font-size: 16px;
  line-height: normal;

  &::placeholder {
    color: #667085;
  }

  &:disabled {
    color: #667085;
    cursor: not-allowed;
    background-color: #f9fafb;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid #d9dbe1;
    box-shadow: 0px 0px 0px 4px #eaecf1, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}
