<div class="box">
  <p class="box__label box__label--y">{{ yLabel() }}</p>
  <p class="box__label box__label--x">{{ xLabel() }}</p>
  <p class="box__label box__label--0">0</p>
  <div>
    <p class="box__label box__label--xLow">Low</p>
    <p class="box__label box__label--xMed">Medium</p>
    <p class="box__label box__label--xHigh">High</p>
    <p class="box__label box__label--10">10</p>
  </div>
  <div class="box__label-rotate">
    <p class="box__label box__label--xLow">Low</p>
    <p class="box__label box__label--xMed">Medium</p>
    <p class="box__label box__label--xHigh">High</p>
    <p class="box__label box__label--10 box__label--10-y">10</p>
  </div>
  <div class="grid">
    @for (row of gridItems(); track $index; let idx = $index) { @for (item of
    row; track $index; let idy = $index) { @if (item.name === 'active') {
    <div
      [ngClass]="{
        item: true,
        'item--active': item.name === 'active'
      }"
      appTooltip
      [tooltipContent]="
        '&#x2022; Test Tooltip\n&#x2022; Line 2\n&#x2022; Line 3Test Tooltip\n&#x2022; Line 2\n&#x2022; Line 3'
      "
    ></div>
    <!-- '&#x2022; Test Tooltip\n&#x2022; Line 2\n&#x2022; Line 3Test Tooltip\n&#x2022; Line 2\n&#x2022; Line 3' -->
    } @else {
    <div
      [ngClass]="{
        item: true,
        'item--a': item.name === 'a',
        'item--b': item.name === 'b',
        'item--c': item.name === 'c',
        'item--d': item.name === 'd',
        'item--e': item.name === 'e',
        'item--f': item.name === 'f',
        'item--g': item.name === 'g',
        'item--h': item.name === 'h',
        'item--i': item.name === 'i',
      }"
    ></div>
    } } }
  </div>
</div>
