<div class="container mgt-54">
  <nav class="sideNav">
    <div class="sideNav__back" (click)="onBackToPlanDetailsPage()">
      <img
        src="/assets/arrow_back.svg"
        alt="arrow back"
        class="sideNav__back__icon"
      />
      <p class="sideNav__back__text">Back</p>
    </div>
  </nav>

  <section class="content mgt-18 pdl-55">
    <h1 class="header">{{ planName() }}</h1>
    <div class="topicContainer">
      <div>
        <h2 class="topic">{{ planDetails().topic }}</h2>
        <h2 class="topic">{{ planDetails().topicEn }}</h2>
      </div>
    </div>

    <form [formGroup]="form()" class="mgt-117">
      <!-- Readiness and Willingness -->
      <div>
        <div class="readiness__headerContainer">
          <div class="readiness__headerContainer--left">
            <h3 class="readiness__header">
              Readiness and Willingness Assessment
            </h3>
            <app-com-icon-tooltip
              [hasTooltip]="true"
              tooltipText="Readiness and Willingness Assessment details"
            ></app-com-icon-tooltip>
          </div>
          <app-com-save-button
            (click)="onReadinessSaveClick()"
          ></app-com-save-button>
        </div>
        <div class="mgt-20">
          <app-com-custom-editor
            [control]="getControl('readinessWillingness')"
            [height]="326"
          ></app-com-custom-editor>
        </div>
      </div>

      <!-- Self-assessment Score -->
      <div class="mgt-82">
        <div class="assessment__headerContainer">
          <div class="assessment__headerContainer--left">
            <h3 class="assessment__header">Self-assessment Score</h3>
            <app-com-icon-tooltip
              [hasTooltip]="true"
              tooltipText="assessment score details"
            ></app-com-icon-tooltip>
          </div>
          <app-com-save-button
            (click)="onAssessmentScoresSaveClick()"
          ></app-com-save-button>
        </div>
        <div class="mgt-18">
          <app-com-score-table
            [data]="scoreTableData()"
            [editMode]="true"
            [form]="getScoreFormGroup()"
          ></app-com-score-table>
        </div>
      </div>

      <div class="hr--dashed mgt-73"></div>
      <!-- IR work goal -->
      <div class="mgt-80">
        <div class="goal__header">
          <h3>IR work goal</h3>
          <img src="/assets/flag_circle_unfill.svg" alt="" class="goal__icon" />
        </div>
        <div class="goal__row mgt-2">
          <div class="goal__type">
            <div class="mgt-5">
              <app-com-select-dropdown
                [control]="getControl('irGoalType')"
                [items]="irTypeOptions()"
                width="89px"
                height="38px"
                fontSize="16px"
                padding="0px 0px 0px 8px"
              ></app-com-select-dropdown>
            </div>
            <app-com-icon-tooltip
              [hasTooltip]="true"
              tooltipText="assessment score details"
            ></app-com-icon-tooltip>
          </div>
          <app-com-save-button
            (click)="onReadinessSaveClick()"
          ></app-com-save-button>
        </div>
        <div class="mgt-16">
          <app-com-custom-editor
            [control]="getControl('irGoalDetails')"
            [height]="264"
          ></app-com-custom-editor>
        </div>
      </div>
    </form>
  </section>
</div>
