@import "../../../styles.scss";

.error {
  display: flex;
  font-family: $custom-font-looped;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;
  color: #ec4a0a;

  &__text {
    margin-left: 4px;
  }
}
