<div class="container mgt-54">
  <!-- SIDE NAV -->
  <nav class="sideNav">
    <div class="sideNav__back" (click)="onBackToHomePage()">
      <img
        src="/assets/arrow_back.svg"
        alt="arrow back"
        class="sideNav__back__icon"
      />
      <p class="sideNav__back__text">Back</p>
    </div>
    <a
      [ngClass]="{
        sideNav__item: true,
        'sideNav__item--active': navActiveIndex() === 0
      }"
      (click)="onNavItemClick(0)"
      [routerLink]="baseLink()"
      fragment="readiness"
    >
      Readiness and Willingness Assessment
    </a>
    <a
      [ngClass]="{
        sideNav__item: true,
        'sideNav__item--active': navActiveIndex() === 1
      }"
      (click)="onNavItemClick(1)"
      [routerLink]="baseLink()"
      fragment="adminAssessmentScore"
    >
      Admin Assessment Score
    </a>
    <a
      [ngClass]="{
        sideNav__item: true,
        'sideNav__item--active': navActiveIndex() === 2
      }"
      (click)="onNavItemClick(2)"
      [routerLink]="baseLink()"
      fragment="proposedActivity"
    >
      Proposed activities
    </a>
    <a
      [ngClass]="{
        sideNav__item: true,
        'sideNav__item--active': navActiveIndex() === 3
      }"
      (click)="onNavItemClick(3)"
      [routerLink]="baseLink()"
      fragment="planNote"
    >
      Notes
    </a>
  </nav>
  <section class="content mgt-17 pdl-55">
    <h1 class="header">Admin IR</h1>
    <div class="desc__container">
      <div>
        <p class="desc">
          หน้านี้พัฒนาเพื่อการใช้งานของนักวิชาการด้านต่างประเทศ สสส.
          ในฐานะผู้รับผิดชอบในบทบาทหลัก 3 ส่วน ได้แก่ (1)
          ผู้ประเมินร่วมและบันทึกกิจกรรมต่างๆ
          ในความก้าวหน้างานด้านต่างประเทศของทุกแผน (2)
          ผู้ประสานงานกับทุกแผนงานเมื่อถึงรอบการประเมินความก้าวหน้า
          ตามแต่ที่กำหนดร่วมกัน และ (3) ผู้ดูแลระบบหรือแอดมิน
          ในการให้อนุญาตแก้ไขข้อมูลต่างๆ
          รวมทั้งการให้คำแนะนำและแก้ไขปัญหาเบื้องต้นของการใช้งาน
        </p>
        <br />
        <p class="desc">
          <span class="desc__bold">หลักคิดของระบบคือ</span>
          แอดมินหรือนักวิชาการด้านต่างประเทศ สสส.
          เป็นผู้ได้รับสิทธิ์ในการเข้าดูเนื้อหาและแก้ไขได้ในทุกส่วน
          ร่วมกับทุกแผน
          ในแต่ละแผนจะสามารถเห็นและแก้ไขข้อมูลได้เฉพาะแผนที่ตนเองได้รับสิทธิ์เท่านั้น
        </p>
      </div>

      @if (userService.currentUser().userRole === 'admin') {
      <button class="editButton mgt-58" (click)="toEditPage()">
        <p class="editButton__text">แก้ไขข้อมูล</p>
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask
            id="mask0_404_824"
            style="mask-type: alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="20"
            height="20"
          >
            <rect width="20" height="20" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_404_824)">
            <path
              d="M13.125 10.75H4V9.25H13.125L8.9375 5.0625L10 4L16 10L10 16L8.9375 14.9375L13.125 10.75Z"
              fill="#F47521"
              fill-opacity="0.952941"
            />
          </g>
        </svg>
      </button>
      }
    </div>
    <!-- Metric -->
    <div class="mgt-54">
      <div class="readiness__container">
        <h2
          class="readiness__header"
          id="readiness"
          appIntersectionElement
          (isIntersecting)="isIntersecting($event, 0)"
          [isContinuous]="true"
          [threshold]="0"
          [debounceTime]="0"
          [rootMargin]="intersectionRootMargin()"
        >
          Readiness and Willingness Assessment
        </h2>
        <div class="mgt-12">
          <app-com-icon-tooltip
            [hasTooltip]="true"
            [tooltipText]="readinessTooltipText()"
            width="500px"
          ></app-com-icon-tooltip>
        </div>
      </div>
      <p class="readiness__desc mgt-15">
        <span class="readiness__desc--bold"
          >แสดงผลตามระดับคะแนน แสดงเหมือนกันทั้ง Admin และ แผน</span
        >
        ส่วนนี้แสดงการให้ความหมายตามระดับคะแนนทั้งจากแกนด้านความเต็มใจ
        และแกนด้านศักยภาพ
        ซึ่งเป็นการวิเคราะห์ผลจากคะแนนที่แผนงานและทีมด้านต่างประเทศประเมินร่วมกัน
      </p>
      <div class="metric pdl-32 mgt-54">
        <app-com-metric [data]="metricData()" size="large"></app-com-metric>
        <div class="metric__control__container mgt--38">
          <div>
            <p class="metric__control__label">Select Year</p>
            <p class="metric__control__helper mgt-17">
              สามารถเลือกปีปัจจุบันหรือปีย้อนหลัง
            </p>
            <div class="metric__control__content mgt-17">
              <div>
                <app-com-select-dropdown
                  [form]="metricFormGroup()"
                  controlName="fromYear"
                  [items]="getYearOptions()"
                  width="107px"
                  height="42px"
                  placeholder="Year 1"
                ></app-com-select-dropdown>
              </div>
              <p class="metric__control__label--to">To</p>
              <div>
                <app-com-select-dropdown
                  [form]="metricFormGroup()"
                  controlName="toYear"
                  [items]="getYearOptions()"
                  width="107px"
                  height="42px"
                  placeholder="Year 2"
                ></app-com-select-dropdown>
              </div>
            </div>
          </div>
          <div>
            <p class="metric__control__label">Select Plan</p>
            <p class="metric__control__helper mgt-17">
              เลือกแสดงผลของทุกแผน หรือเฉพาะแผน
            </p>
            <div class="metric__control__content mgt-17">
              <div>
                <app-com-select-dropdown
                  [form]="metricFormGroup()"
                  controlName="plan"
                  [items]="planOptions()"
                  width="120px"
                  height="42px"
                  color="#4D54AB"
                ></app-com-select-dropdown>
              </div>
            </div>
          </div>

          <!-- Score results summary -->
          <div class="metric__summary__box">
            <p class="metric__control__label">ความหมายตามระดับคะแนนที่ได้</p>
            <div class="metric__summary mgt-17">
              <app-com-metric-score-summary
                height="310px"
                [data]="metricData()"
              ></app-com-metric-score-summary>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Admin assessment scores -->
    <div class="hr--dashed mgt-143"></div>
    <div class="mgt-45">
      <div class="assessment__header">
        <div class="assessment__header__textContainer">
          <h3
            id="adminAssessmentScore"
            class="assessment__header__text"
            appIntersectionElement
            (isIntersecting)="isIntersecting($event, 1)"
            [isContinuous]="true"
            [threshold]="0"
            [debounceTime]="0"
            [rootMargin]="intersectionRootMargin()"
          >
            Admin assessment Score
          </h3>
          <div class="mgt-15">
            <app-com-icon-tooltip
              [hasTooltip]="true"
              [tooltipText]="assessmentScoreTooltip()"
              width="500px"
            ></app-com-icon-tooltip>
          </div>
        </div>
        <div class="mgt-15">
          <app-com-updated-at
            [display]="scoreTableLatestUpdateText()"
          ></app-com-updated-at>
        </div>
      </div>

      <!-- Table -->
      <app-com-score-table-admin
        [shortNames]="topicShortList()"
        [criteria]="criteriaList()"
        [data]="assessmentScoreData()"
      ></app-com-score-table-admin>
    </div>

    <!-- Proposed activities -->
    <div class="hr--dashed mgt-82"></div>
    <div class="mgt-14">
      <div class="commonTextSection__headerSection">
        <div class="commonTextSection__headerBox">
          <h3
            id="proposedActivity"
            class="commonTextSection__headerText"
            appIntersectionElement
            (isIntersecting)="isIntersecting($event, 2)"
            [isContinuous]="true"
            [threshold]="0"
            [debounceTime]="0"
            [rootMargin]="intersectionRootMargin()"
          >
            Proposed activities
          </h3>
          <img src="/assets/event_note_blue.svg" alt="note icon" />
        </div>
      </div>
      <div class="mgt-39">
        <app-com-proposed-activities
          [plans]="plans()"
        ></app-com-proposed-activities>
      </div>
    </div>
    <!-- Notes -->
    <div class="hr--dashed mgt-78"></div>
    <div class="mgt-52">
      <div class="commonTextSection__headerSection">
        <div class="commonTextSection__headerBox">
          <h3
            id="planNote"
            class="commonTextSection__headerText"
            appIntersectionElement
            (isIntersecting)="isIntersecting($event, 3)"
            [isContinuous]="true"
            [threshold]="0"
            [debounceTime]="0"
            [rootMargin]="intersectionRootMargin()"
          >
            Note of Plan
          </h3>
          <img src="/assets/speaker_notes.svg" alt="speaker notes" />
        </div>
      </div>
      <div class="mgt-39">
        <app-com-plan-note [plans]="plans()"></app-com-plan-note>
      </div>
    </div>
    <!-- Admin Notes -->
    <div class="hr--dashed mgt-78"></div>
    <div class="mgt-52">
      <div class="commonTextSection__headerSection">
        <div class="commonTextSection__headerBox">
          <h3 id="adminNote" class="commonTextSection__headerText">
            Notes of Admin
          </h3>
          <img src="/assets/speaker_notes_red.svg" alt="speaker notes" />
        </div>
      </div>
      <div class="mgt-20">
        <app-com-admin-note [text]="adminNote()"></app-com-admin-note>
      </div>
    </div>

    <!-- Log activities -->
    <div class="logs mgt-109">
      <div class="commonTextSection__headerSection">
        <div class="commonTextSection__headerBox">
          <h3 id="changeLog" class="commonTextSection__headerText">
            Log activities
          </h3>
          <img
            src="/assets/event_note_log.svg"
            alt="event note for log activities"
          />
        </div>
      </div>
      <div class="mgt-10">
        <app-com-change-log
          [plans]="plans()"
          [latestScores]="latestScores()"
        ></app-com-change-log>
      </div>

      <!-- Back to top button -->
      <div class="backToTop">
        <app-com-back-to-top></app-com-back-to-top>
      </div>
    </div>
  </section>
</div>

<!-- For intersection API debugging -->
<!-- <div class="intersectionBox"></div> -->
