@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  &__button {
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid rgba(231, 111, 81, 0.6);
    cursor: pointer;

    font-family: $custom-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #000;

    &--active {
      font-weight: 400;
      color: #fff;
      background-color: #e76f51;
    }
  }
}

.meta {
  &__name {
    display: flex;
    gap: 10px;
    align-items: baseline;

    font-family: $custom-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000;

    &--bold {
      line-height: 33px;
      font-weight: 600;
    }
  }

  &__update {
    display: flex;
    justify-content: space-between;

    &--left {
      display: flex;
      align-items: center;
      gap: 9px;
    }

    &__type {
      font-family: $custom-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 33px;
      color: #f0b358;
    }
  }
}

.dropdown {
  display: flex;
  gap: 10px;
}

.display {
  height: 284px;
  background-color: #fff;
  overflow-y: scroll;
  border-radius: 8px;

  padding: 16px 20px;
  font-family: $custom-font-looped;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  white-space: pre-wrap;
}

.mgt {
  &-10 {
    margin-top: 10px;
  }
}
