@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  &__button {
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid rgba(58, 102, 214, 0.6);
    cursor: pointer;

    font-family: $custom-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #000;

    &--active {
      font-weight: 400;
      color: #fff;
      border: 1px solid #3b8ea5;
      background-color: #3b8ea5;
    }
  }
}

.meta {
  &__name {
    display: flex;
    gap: 10px;
    align-items: baseline;

    font-family: $custom-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000;

    &--bold {
      line-height: 33px;
      font-weight: 600;
      min-width: 149px;
    }

    &--cyan {
      color: #4a859f;
    }
  }

  &__update {
    text-align: right;
  }
}

.display {
  height: 284px;
  background-color: #fff;
  overflow-y: scroll;
  border-radius: 8px;

  padding: 16px 20px;
  font-family: $custom-font-looped;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #000;
  white-space: pre-wrap;
}
