<div class="container">
  <!-- First row -->
  <div class="group">
    <div>
      <h2 class="group__header">เกี่ยวกับระบบนี้</h2>
      <p class="group__desc">
        ระบบติดตามความพร้อมด้านต่างประเทศของ สสส.
        ออกแบบมาเพื่อเป็นใช้ประโยชน์ในหลายประการ ได้แก่
      </p>
    </div>

    <div class="card__container mgt-16">
      <div class="card card--small">
        <img src="/assets/about_star.svg" class="card__icon" alt="" />
        <div class="card__text">เพื่อติดตามความก้าวหน้า</div>
      </div>

      <div class="card card--small">
        <img
          src="/assets/about_expand_circle_up.svg"
          class="card__icon"
          alt=""
        />
        <div class="card__text">เพื่อเสริมสร้างความเข้มแข็ง</div>
      </div>

      <div class="card card--small">
        <img
          src="/assets/about_voice_selection.svg"
          class="card__icon"
          alt=""
        />
        <div class="card__text">
          เพื่อส่งเสริมการประสานงานระหว่างแต่ละแผนงานกับสำนักสภส.
        </div>
      </div>

      <div class="card card--small">
        <img src="/assets/about_ungroup.svg" class="card__icon" alt="" />
        <div class="card__text">เพื่อพัฒนาศักยภาพด้านต่างประเทศของ สสส.</div>
      </div>
    </div>
    <div class="hr mgt-32"></div>
  </div>
  <!-- Second Row -->
  <div class="group">
    <h2 class="group__header">
      จุดเด่นของระบบติดตามความพร้อมด้านต่างประเทศของ สสส.
    </h2>
    <div class="card__container mgt-16">
      <div class="card card--large">
        <img src="/assets/about_book.svg" class="card__icon" alt="" />
        <div class="card__text">
          <div class="card__text--bold">พัฒนาบนพื้นฐานวิชาการ:</div>
          ผ่านการศึกษาอย่างรอบด้านรวมถึงการวิเคราะห์แผนงานการสัมภาษณ์ผู้เชี่ยวชาญและการทบทวนวรรณกรรม
        </div>
      </div>

      <div class="card card--large">
        <img src="/assets/about_diversity.svg" class="card__icon" alt="" />
        <div class="card__text">
          <div class="card__text--bold">ปรับให้เข้ากับบริบท สสส.:</div>
          ออกแบบมาโดยเฉพาะเพื่อตอบโจทย์การทำงาน
        </div>
      </div>

      <div class="card card--large">
        <img src="/assets/about_check.svg" class="card__icon" alt="" />
        <div class="card__text">
          <div class="card__text--bold">ใช้งานง่าย เข้าถึงได้ทุกแผน:</div>
          ทั้ง 14 แผนงานสามารถ ประเมินตนเอง อัปเดตข้อมูล
          และติดตามความก้าวหน้าได้.
        </div>
      </div>

      <div class="card card--large">
        <img src="/assets/about_group.svg" class="card__icon" alt="" />
        <div class="card__text">
          <div class="card__text--bold">มีทีมสนับสนุน:</div>
          ทีมวิเทศสัมพันธ์พร้อมช่วยเหลือ และให้คำแนะนำ
        </div>
      </div>
    </div>
    <div class="hr mgt-32"></div>
  </div>
  <!-- Third row -->
  <div class="group">
    <div>
      <h2 class="group__header">เป้าหมายของการพัฒนาระบบ</h2>
      <p class="group__desc">
        ผู้พัฒนาตั้งใจให้ระบบนี้เป็นพื้นที่แห่งการเรียนรู้และพัฒนาร่วมกัน
        โดยมุ่งหวังให้เกิดประโยชน์จากงานด้านต่างประเทศ
      </p>
    </div>

    <div class="card__container mgt-16">
      <div class="card card--medium">
        <img src="/assets/about_globe.svg" class="card__icon" alt="" />
        <div class="card__text">
          มุมมองที่ครอบคลุมเกี่ยวกับศักยภาพด้านต่างประเทศของ สสส.
        </div>
      </div>

      <div class="card card--medium">
        <img src="/assets/about_language.svg" class="card__icon" alt="" />
        <div class="card__text">
          การยกระดับประสิทธิภาพการทำงานด้านต่างประเทศ
        </div>
      </div>

      <div class="card card--medium">
        <img src="/assets/about_ecg_heart.svg" class="card__icon" alt="" />
        <div class="card__text">การสร้างเสริมสุขภาพที่ดีในระดับสากล.</div>
      </div>
      <div class="card hidden"></div>
    </div>

    <!-- Footer -->
    <h3 class="footer mgt-32">
      มาร่วมกันสร้างความเปลี่ยนแปลงและพัฒนาศักยภาพด้านต่างประเทศของเราไปด้วยกันนะครับ!
    </h3>
    <div class="hr mgt-32"></div>
  </div>
</div>
