@import "../../../styles.scss";

.scale {
  &__container {
    display: flex;
    gap: 20px;
  }

  font-family: $custom-font-looped;
  font-weight: 400;
  // font-size: 16px;
  line-height: 26px;
  color: #d32f06;

  &--bold {
    font-weight: 600;
  }
}
