/* You can add global styles to this file, and also import other style files */
$custom-font: "IBM Plex Sans Thai", sans-serif;
$custom-font-looped: "IBM Plex Sans Thai Looped", sans-serif;
// $inter: "Inter", sans-serif;

$tooltip-animation-duration: 300ms;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // set global 1rem = 10px;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding-left: 1.1em;
}

// Tooltip
.appTooltip {
  position: absolute;
  border-radius: 8px;
  color: rgba(38, 39, 124, 1);

  font-family: $custom-font-looped;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);

  left: 50%;
  top: 0;
  transform: translate(-50%, calc(-100% - 12px));
  white-space: pre-wrap;
  opacity: 0;
  transition: opacity $tooltip-animation-duration;

  &--visible {
    opacity: 1;
    transition: opacity $tooltip-animation-duration;
  }

  &::before {
    content: "";
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 80%);
    overflow: hidden;
  }
}
