<div class="container">
  <h1 class="header">
    Monitoring Framework for International Relations of Thai Health Promotion
    Foundation
  </h1>
  <p class="description mgt-15">
    In assessing the readiness for international relations work, a tailored
    approach is needed to take into account ThaiHealth's status as an
    independent state agency, which may impact its decision-making processes,
    resource allocation, and interactions with external stakeholders. By
    adapting the assessment methods to capture these unique aspects of
    ThaiHealth's context, the framework aims to provide a more accurate and
    relevant assessment of the organisation's readiness for change. As an
    independent state agency, ThaiHealth has its own unique working style and
    organisational culture, which must be considered when assessing its
    readiness for change.
  </p>
  <br /><br />
  <p class="description">
    The operationalisation of the framework involves a mixed-methods approach,
    incorporating both individual and organisational assessments. At the
    individual level, interviews with academic officers will be conducted to
    gather insights into their attitudes, beliefs, and capacity. At the
    organizational level, interviews with heads of sections will be carried out
    to assess collective commitment and efficacy and gather information on the
    organization's past and current work. To assess the external environment, a
    document review will be conducted, which may include an analysis of
    ThaiHealth's annual reports and relevant WHO documents. Furthermore, the
    framework acknowledges the importance of ThaiHealth's working style and
    organizational culture in influencing its readiness for change for
    international relations works. By conducting interviews with both academic
    officers and section heads, the framework seeks to understand how these
    factors may facilitate or hinder the implementation of change initiatives.
  </p>
  <div class="mgt-48">
    <div class="dashboardSummary">
      <img
        src="/assets/activity_zone.png"
        alt="activity_zone"
        class="dashboardSummary__logo"
      />
      <h2 class="dashboardSummary__header">dashboardSummary</h2>
    </div>
    <div class="dashboard mgt-44">
      @for (plan of plans(); track $index) {
      <div class="dashboard__item">
        <div
          [ngClass]="{
            card: true,
            'card--open': plan.open,
            'card--owner': $index === 0
          }"
          (click)="onCardClick($index)"
        >
          <div class="card__left" (click)="goToPlanDetailsPage($event, $index)">
            <h2 class="card__header">{{ plan.data.name }}</h2>
            <div>
              <p class="card__topic">{{ plan.data.topic }}</p>
              <p class="card__topic">{{ plan.data.topicEn }}</p>
            </div>
          </div>
        </div>
        @if(plan.open){
        <div
          [ngClass]="{ cardExpand: true, 'cardExpand--owner': $index === 0 }"
          @slide
        >
          <div class="cardExpand__headerContainer">
            <img
              src="/assets/flag_circle.svg"
              alt="flag icon"
              class="cardExpand__icon"
            />
            <h3 class="cardExpand__header">IR Work GOAL</h3>
          </div>
          <p class="cardExpand__text mgt-12">{{ plan.data.irGoalDetails }}</p>
        </div>
        }
      </div>
      }
    </div>
  </div>

  <div class="backToTop">
    <app-com-back-to-top></app-com-back-to-top>
  </div>
</div>
